a,
a:link,
a:visited,
a:hover,
a:active {
	/*color of your choosing*/
	text-decoration: none;
	font-weight: normal;
}

th, td {

	padding: 15px;
	text-align: center;
}


/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/
body {
	background: #ecf0f1;
	line-height: 1.4;
	font-family: sans-serif;
}

.centered {
	margin: 0 auto;
	padding: 0 1em;
}

@media screen and (min-width: 52em) {
	.centered {
		max-width: 52em;
	}
}

/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/
.masthead {
	background: #262626;
}

.site-title {
	margin: 0 0 1em;
	padding: .08em 0;
	color: #FFF;
	font-family: "nissan";
}
.site-title > img {
	position: relative;
	right: 320px;	
}
.site-title > span {
	position: relative;
	right: 320px;	
}

@media screen and (min-width: 44.44em) {
	.site-title {
		font-size: 2em;
	}
}

@media screen and (min-width: 50em) {
	.site-title {
		font-size: 2.5em;
	}
}

.site-title a {
	color: hsl(5, 45%, 95%);
	text-decoration: none;
}

.site-title a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
Base styles
--------------------------------------------------------------*/
.site-title {
	margin-bottom: 0;
}
/*Main Menu*/
.main-menu {
	color: white;
	background: #e74c3c;
	display: flex;                  
}

.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #e74c3c;
}

.nav-mixed {
	/*display: flex;*/
	flex-wrap: wrap;
	justify-content: space-between;
}

.user-profile {
	color: #fff;
	margin-top: -80px;
	margin-right: 10px;
	flex-wrap: wrap;
	position: absolute;
	right: 0;
	line-height: 30%;
}

.search-workstation, .search-issues, .search-inventory, .search-nissan, .search-employee, .search-supplier {
	/*margin-left: 1000px;*/
	display: flex;
	position: absolute; right: 0;
}

.footer-area {
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;   /* Height of the footer */
	padding: .4em 1em;
	text-align: center;
	background: hsl(0, 0%, 75%);
}

/*--------------------------------------------------------------
Base styles that apply to all menu items
--------------------------------------------------------------*/


.menu li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1em;
}

.menu li a:hover {
	background: hsl(0, 0%, 25%);
}

@media screen and (min-width: 30em){
	.multi-level-nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	} 

	.multi-level-nav li {
		flex: 1 0 auto;
		position: relative;
	} 

	li.has-children > a {
		padding-right: 0;
	}

	.multi-level-nav ul ul li {
		flex: 1 1 auto;
	}

	.multi-level-nav ul .toggled-on {
		display: flex;
	}
}
/*--------------------------------------------------------------
Styles for mixed menu (drop-down + social)
--------------------------------------------------------------*/

.div-center {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
}
.table-custom {
	margin: auto;
	border: 1px solid #ddd;
	font-size: 12px;

}


.table-custom th, .table-custom tr, .table-custom td {
	border: 1px solid #ddd;
}

.table-custom th {

	background: #e74c3c;
	color: #fff;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #262626;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/*.dropdown-content a:hover {background-color: #bdc3c7}*/

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #c0392b;
}

pre{
	display: block;
	font-family: inherit;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: none;
	border-radius: 4px;

}



.pdsa-sn-wrapper {
	position: absolute;
	left: 0em;
	width: 10em;
	height: 100%;
	background: #262626;
	transition: left 0.3s linear;
	-moz-transition: left 0.3s linear;
	-webkit-transition: left 0.3s linear;

}

.section-update {
	/*position: absolute;
	background: #262626;
	transition: left 0.3s linear;
	-moz-transition: left 0.3s linear;
	-webkit-transition: left 0.3s linear;

	top: 25%;
	left: 15%;
	bottom: 0;
	width: 75%;*/

	display: flex;
	width: 100%;
	height: 400px;
	background: inherit;
	margin-top: 25px;
}

.pdsa-sn-wrapper ul {
	width: 11em;
	list-style: none;
	margin-top: 2em;
	
	padding: 0em;

}

.pdsa-sn-wrapper li {
	border-bottom: 1px solid #ecf0f1;

}


.pdsa-sn-wrapper ul li,
.pdsa-sn-wrapper ul li ul li {
	margin-top: 1em;
	margin-bottom: 0.5em;

}

.pdsa-sn-wrapper ul li a,
.pdsa-sn-wrapper ul li ul li a {
	padding: .5em;

}

.pdsa-sn-wrapper ul li a:active,
.pdsa-sn-wrapper ul li a:focus,
.pdsa-sn-wrapper ul li ul li a:active,
.pdsa-sn-wrapper ul li ul li a:focus {
	text-decoration: none;
	outline: none;
	color: white;
}
.pdsa-sn-wrapper ul .pdsa-sn-brand {
	margin-left: -.5em;
	font-size: large;
	color: white;
}

.pdsa-sn-wrapper ul .pdsa-sn-brand a {
	color: white;
}

.pdsa-sn-wrapper ul .pdsa-sn-brand a:hover {
	color: lightblue;
	background: none;
}


/* Style for 2nd level */
.pdsa-sn-wrapper ul li ul {
	list-style: none;
	margin-top: 1em;
	margin-left: 1em;
}

/* Add <span> for sm, md, lg breakpoints */
.pdsa-sn-wrapper ul li a span {
	margin-top: -1em;
	margin-bottom: -1em;
	margin-left: 1em;
	padding-top: -1em;
	padding-bottom: -1em;
}


.body-content {
	margin-left: 10em;
	height: 100%;
}




/*--------------------------------------------------------------
Styles for Container
--------------------------------------------------------------*/
.form-container {
	width: 30%;
	text-align: center;
}

.form-signin-heading {
	background: #e74c3c;
	color: #fff;
	padding: 20px;
	border: 2px solid;
	border-radius: 10px;
	font-family: "nissan";
	font-size: 4em;
}




.update-item {
	background: #ecf0f1;
	width: 100%;
	height: 100%;
	margin: 10px;
	border: 1px solid #bdc3c7;
}

.item-header {
	width: 100%;
	height: 10%;
	display: inline-block;
	background: #e74c3c;
	border-bottom: 3px solid #c0392b;
	padding: 2px;
}

.item-header h4 {
	color: #fff;
}

.item-header  a {
	text-decoration: none;
	color: #2980b9;
}


#item_details {
	display: block;
	height: 30%;
	background: #3498db;
}

#item_calendar {
	display: block;
	height: 70%;
	background: #1abc9c;
}

#form-eval-container {
	display: flex;
	height: 400px;
	background: inherit;
	margin-top: -25px;
	margin-bottom: 25px;

}

#form-eval-container-item {
	background: #fff;
	width: 100%;
	height: 100%;
	margin: 10px;
	padding: 30px;
	border: 1px solid #e74c3c;
}
#form-eval-container-item input[type=text], input[type=date], select{
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#form-eval-container-item  div {
	display: block;
}

#form-eval-container-item  label {
	display: block;
}



.form-instructions {
	background: #fff;
	margin: 10px;
	padding: 10px;
}

#article_3 {
	display: flex;
	padding: 10px;
}

#article_3 div{
	margin: 30px;
	padding: 10px;
	background: #fff;
	width: 50%;
	text-align: center;
}


#form-section {
	display: flex;
	width: 100%;
}
#form-separator {
	width: 50%;
	
}

.field-style-name{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 3px;
	outline: none;
	border: 1px solid #bdc3c7;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 3px;
	outline: none;
	border: 1px solid #bdc3c7;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	width: 100%;
}

/*.form-style-9{
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 2px solid #e74c3c;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}



.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
	}*/
	.bold {
		font-weight: bold;
	}
	#td-left {
		text-align: left;
	}

/*.cellClass { 
	border: 6px solid #2980b9;
	}*/
	.p-left {
		text-align: left;
	}
	
	.p-left {
		text-align: left;
	}	

	.row-tr-headers {
		background: #3498db;
		color: #fff;
	}

	body {
		font: 400 15px Lato, sans-serif;
		line-height: 1.8;
		
	}
	h2 {
		font-size: 24px;
		text-transform: uppercase;
		color: #303030;
		font-weight: 600;
		margin-bottom: 30px;
	}
	h4 {
		font-size: 19px;
		line-height: 1.375em;
		color: #303030;
		font-weight: 400;
		margin-bottom: 30px;
	}  
	.jumbotron {
		background-color: #303030;
		color: #fff;
		font-family: "nissan", sans-serif;
	}
	.container-fluid {
		padding: 60px 50px;
	}
	.bg-grey {
		background-color: #f6f6f6;
	}
	.logo-small {
		color: #f4511e;
		font-size: 50px;
	}
	.logo {
		color: #f4511e;
		font-size: 200px;
	}
	.thumbnail {
		padding: 0 0 15px 0;
		border: none;
		border-radius: 0;
	}
	.thumbnail img {
		width: 100%;
		height: 100%;
		margin-bottom: 10px;
	}
	.carousel-control.right, .carousel-control.left {
		background-image: none;
		color: #f4511e;
	}
	.carousel-indicators li {
		border-color: #f4511e;
	}
	.carousel-indicators li.active {
		background-color: #f4511e;
	}
	.item h4 {
		font-size: 19px;
		line-height: 1.375em;
		font-weight: 400;
		font-style: italic;
		margin: 70px 0;
	}
	.item span {
		font-style: normal;
	}
	.panel {
		/*border: 1px solid #e74c3c; */
		border-radius:0 !important;
		transition: box-shadow 0.5s;
	}


	.panel:hover {
		box-shadow: 5px 0px 40px rgba(0,0,0, .2);
	}
	.panel-footer .btn:hover {
		border: 1px solid #e74c3c;
		background-color: #fff !important;
		color: #f4511e;
	}
	.panel-heading {
		color: #fff !important;
		background-color: #34495e !important;
		padding: 10px;
		border-bottom: 1px solid transparent;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.panel-footer {
		background-color: white !important;
	}
	.panel-footer h3 {
		font-size: 32px;
	}
	.panel-footer h4 {
		color: #aaa;
		font-size: 14px;
	}
	.panel-footer .btn {
		margin: 15px 0;
		background-color: #f4511e;
		color: #fff;
	}
	.navbar {
		margin-bottom: 0;
		background-color: #e74c3c;
		z-index: 9999;
		border: 0;
		font-size: 12px !important;
		line-height: 1.42857143 !important;
		letter-spacing: 4px;
		border-radius: 0;
		font-family: Montserrat, sans-serif;
	}
	.navbar li a, .navbar .navbar-brand {
		padding: 4px;
		color: #fff !important;
	}
	.navbar-nav li a:hover, .navbar-nav li.active a {
		color: #f4511e !important;
		background-color: #fff !important;
	}
	.navbar-default .navbar-toggle {
		border-color: transparent;
		color: #fff !important;
	}
	footer .glyphicon {
		font-size: 20px;
		margin-bottom: 20px;
		color: #f4511e;
	}
	.slideanim {visibility:hidden;}
	.slide {
		animation-name: slide;
		-webkit-animation-name: slide;
		animation-duration: 1s;
		-webkit-animation-duration: 1s;
		visibility: visible;
	}
	@keyframes slide {
		0% {
			opacity: 0;
			transform: translateY(70%);
		} 
		100% {
			opacity: 1;
			transform: translateY(0%);
		}
	}
	@-webkit-keyframes slide {
		0% {
			opacity: 0;
			-webkit-transform: translateY(70%);
		} 
		100% {
			opacity: 1;
			-webkit-transform: translateY(0%);
		}
	}
	@media screen and (max-width: 768px) {
		.col-sm-4 {
			text-align: center;
			margin: 25px 0;
		}
		.btn-lg {
			width: 100%;
			margin-bottom: 35px;
		}
	}
	@media screen and (max-width: 480px) {
		.logo {
			font-size: 150px;
		}
	}