a,
a:link,
a:visited,
a:hover,
a:active {
	color: #ffffff; /*color of your choosing*/
	text-decoration: none;
	font-weight: normal;
}

th, td {

	padding: 15px;
	text-align: center;
}


/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/
body {
	background: #ecf0f1;
	line-height: 1.4;
	font-family: sans-serif;
}

.centered {
	margin: 0 auto;
	padding: 0 1em;
}

@media screen and (min-width: 52em) {
	.centered {
		max-width: 52em;
	}
}

/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/
.masthead {
	background: #c0392b;
}

.site-title {
	margin: 0 0 1em;
	padding: .08em 0;
	color: #FFF;
	font-family: "nissan";
}
.site-title > img {
	position: relative;
	right: 320px;	
}
.site-title > span {
	position: relative;
	right: 320px;	
}

@media screen and (min-width: 44.44em) {
	.site-title {
		font-size: 2em;
	}
}

@media screen and (min-width: 50em) {
	.site-title {
		font-size: 2.5em;
	}
}

.site-title a {
	color: hsl(5, 45%, 95%);
	text-decoration: none;
}

.site-title a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
Base styles
--------------------------------------------------------------*/
.site-title {
	margin-bottom: 0;
}

.main-menu {
	
	color: white;
	background: hsl(0, 0%, 15%);
	display: flex;
}

.nav-mixed {
	/*display: flex;*/
	flex-wrap: wrap;
	justify-content: space-between;
}

.search-box {
	/*margin-left: 1000px;*/
	display: flex;
	position: absolute; right: 0;
}

.footer-area {
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;   /* Height of the footer */
	padding: .4em 1em;
	text-align: center;
	background: hsl(0, 0%, 75%);
}

/*--------------------------------------------------------------
Base styles that apply to all menu items
--------------------------------------------------------------*/
.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: hsl(0, 0%, 15%);
}

.menu li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1em;
}

.menu li a:hover {
	background: hsl(0, 0%, 25%);
}

@media screen and (min-width: 30em){
	.multi-level-nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	} 

	.multi-level-nav li {
		flex: 1 0 auto;
		position: relative;
	} 

	li.has-children > a {
		padding-right: 0;
	}

	.multi-level-nav ul ul li {
		flex: 1 1 auto;
	}

	.multi-level-nav ul .toggled-on {
		display: flex;
	}
}
/*--------------------------------------------------------------
Styles for mixed menu (drop-down + social)
--------------------------------------------------------------*/

.div-center {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
}
.table-custom {
	margin: auto;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #262626;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/*.dropdown-content a:hover {background-color: #bdc3c7}*/

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #c0392b;
}

